<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>大数据解决方案</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- <meta name="keywords" content="{ms:global.keyword/}" /> -->
		<!-- <meta name="description" content="{ms:global.descrip/}" /> -->
		<link rel="shortcut icon" href="./image/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="./css/cy_style.css">
		<script src="./js/device_adapter.js"></script>
		<script src="./js/jquery-3.3.1.js"></script>
	</head>

	<body>
		<div id="app">
			<header class="home-header">
				<div class="home-logo">
					<a href="{ms:global.url/}" class="logo-box">
						<img src="./image/home_logo_white.png" alt="" class="logo">
					</a>
					<span>人工智能·创造无限</span>
				</div>
				<span class="home-nav-menu" @click="showMenu()"></span>
			</header>
			<div class="info-main news-main">
				<div class="banner"></div>
				<div class="newsdetail-wrapper">
					<div class="newsdetail-content">
						<div class="title">{ms:field.title/}</div>
						<div class="button-group">
							<a href="{ms:field.prelink/}" class="button" id="prev">上一篇</a>
							<div class="tag">{ms:field.typetitle/}</div>
							<a href="{ms:field.nextlink/}" class="button" id="next">下一篇</a>
						</div>
						<div class="description">发布日期：{ms:field.date fmt=yyyy-MM-dd/}</div>
						<div class="content">{ms:field.content/}</div>
					</div>
					{ms:field.content/}
				</div>
			</div>
			<footer class="home-footer">
	<p class="telephone">客服电话&nbsp;&nbsp;400-0808-939</p>
	<p class="copyright">Copyright &copy; 畅云时讯 2019</p>
</footer>
			<transition enter-active-class="fade-in-active" leave-active-class="fade-out-active">
				<div v-show="menuExpand" class="menu-bg" v-cloak @click.stop="closeMenu()"></div>
			</transition>
			<transition name="slide-in">
				<ul v-show="menuExpand" class="menu-content" v-cloak>
					<li v-for="(item, index) in menuList" :key="item.title" class="level">
						<div class="title" :class="{'has-border': item.children.length > 0}"
							@click="handleExpand(1, index, 0, item)">
							<span v-cloak class="title-text">{{item.title}}</span>
							<template v-if="item.children.length > 0">
								<span v-if="item.expanded" class="title-icon">-</span>
								<span v-else="item.expanded" class="title-icon">+</span>
							</template>
						</div>
						<ul v-if="item.children.length > 0" class="sub-content" :class="{'active': item.expanded}">
							<li v-for="(subItem, subIndex) in item.children" :key="subItem.title" class="level">
								<div class="title" :class="{'has-border': subItem.children.length > 0}"
									@click="handleExpand(2, index, subIndex, subItem)">
									<span class="title-text">{{subItem.title}}</span>
									<template v-if="subItem.children.length > 0">
										<span v-if="subItem.expanded" class="title-icon">-</span>
										<span v-else="subItem.expanded" class="title-icon">+</span>
									</template>
								</div>
								<ul class="sub-level" :class="{'active': subItem.expanded}">
									<li v-for="(thirdItem, thirdIndex) in subItem.children" :key="thirdItem.title" class="title"
										@click="goRoute(thirdItem)">
										<span class="title-text">{{thirdItem.title}}</span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</transition>
		</div>
		<script>
			var app = new Vue({
				el: '#app',
				data: {
					menuExpand: false,
					menuList: [
						{
							title: '首页',
							level: 1,
							index: 0,
							expanded: false,
							url: '/',
							children: []
						}, {
							title: '产品中心',
							level: 1,
							index: 1,
							expanded: false,
							children: [
								{
									title: '人工智能产品',
									level: 2,
									index: 0,
									expanded: false,
									children: [
										{
											title: '人脸识别',
											url: 'face.html'
										}, {
											title: '图像文字识别',
											url: 'images.html'
										}, {
											title: '智能交互机器人',
											url: 'robot.html'
										}
									]
								}, {
									title: '通用产品',
									level: 2,
									index: 1,
									expanded: false,
									children: [
										{
											title: '竞争情报分析系统',
											url: 'infoanalysis.html'
										}, {
											title: 'OFD文档办公软件',
											url: 'ofd.html'
										}, {
											title: 'DIU文档智能利用平台',
											url: 'diu.html'
										}, {
											title: 'eSearch智能检索',
											url: 'eSearch.html'
										}
									]
								}
							]
						}, {
							title: '解决方案',
							level: 1,
							index: 2,
							expanded: false,
							children: [
								{
									title: '大数据解决方案',
									level: 2,
									index: 0,
									expanded: false,
									url: 'bigdata.html',
									children: []
								}, {
									title: '人工智能解决方案',
									level: 2,
									index: 1,
									expanded: false,
									url: 'ai.html',
									children: []
								}
							]
						}, {
							title: '联合实验室',
							level: 1,
							index: 3,
							expanded: false,
							url: 'lab.html',
							children: []
						}, {
							title: '新闻动态',
							level: 1,
							index: 4,
							expanded: false,
							url: '/4/index.html',
							children: []
						}, {
							title: '关于我们',
							level: 1,
							index: 5,
							expanded: false,
							children: [
								{
									title: '公司介绍',
									level: 2,
									index: 0,
									expanded: false,
									url: 'aboutus.html',
									children: []
								}, {
									title: '联系我们',
									level: 2,
									index: 1,
									expanded: false,
									url: 'contactus.html',
									children: []
								}, {
									title: '加入我们',
									level: 2,
									index: 2,
									expanded: false,
									url: 'joinus.html',
									children: []
								}
							]
						}
					]
				},
				methods: {
					showMenu() {
						this.menuExpand = !this.menuExpand
						document.documentElement.style.overflow = 'hidden'
						document.body.style.overflow = 'hidden'
						document.body.style.position = 'fixed'
					},
					closeMenu() {
						this.menuExpand = false
						document.documentElement.style.overflow = 'auto'
						document.body.style.overflow = 'auto'
						document.body.style.position = 'static'
					},
					handleExpand(level, index, subIndex, item) {
						if (level === 1 && item.children.length > 0) {
							this.handleTopLevel(index, item)
						} else if (level === 2 && item.children.length > 0) {
							this.handleSubLevel(index, subIndex, item)
						} else {
							this.goRoute(item)
						}
					},
					handleTopLevel(index, item) {
						if (!item.expanded) {
							this.foldTopLevel()
						}
						this.menuList[index].expanded = !this.menuList[index].expanded
						this.$set(this.menuList, index, this.menuList[index])
					},
					handleSubLevel(index, subIndex, item) {
						if (!item.expanded) {
							this.foldSubLevel(index)
						}
						this.menuList[index].children[subIndex].expanded = !this.menuList[index].children[subIndex].expanded
						this.$set(this.menuList[index], subIndex, this.menuList[index].children[subIndex])
					},
					goRoute(item) {
						window.location.href = '{ms:global.url/}' + item.url
					},
					foldTopLevel() {
						for (var m = 0; m < this.menuList.length; m++) {
							this.menuList[m].expanded = false
							for (var i = 0; i < this.menuList[m].children.length; i++) {
								this.menuList[m].children[i].expanded = false
								this.$set(this.menuList[m].children, i, this.menuList[m].children[i])
							}
							this.$set(this.menuList, m, this.menuList[m])
						}
					},
					foldSubLevel(index) {
						for (var n = 0; n < this.menuList[index].children.length; n++) {
							this.menuList[index].children[n].expanded = false
							this.$set(this.menuList[index].children, n, this.menuList[index].children[n])
						}
					}
				}
			})
		</script>
		<script>
			var resetButton = function (id) {
				if (document.querySelector(id).href.indexOf('#') > -1) {
					document.querySelector(id).style.backgroundColor = '#e4e4e4'
					document.querySelector(id).style.color = '#c6c6c6'
				}
			}
			resetButton('#prev')
			resetButton('#next')
		</script>
	</body>

</html>
