<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>大数据解决方案</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- <meta name="keywords" content="{ms:global.keyword/}" /> -->
		<!-- <meta name="description" content="{ms:global.descrip/}" /> -->
		<link rel="shortcut icon" href="./image/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="./css/cy_style.css">
		<script src="./js/device_adapter.js"></script>
		<script src="./js/jquery-3.3.1.js"></script>
	</head>

	<body>
		<div id="app">
			<header class="home-header">
				<div class="home-logo">
					<a href="{ms:global.url/}" class="logo-box">
						<img src="./image/home_logo_white.png" alt="" class="logo">
					</a>
					<span>人工智能·创造无限</span>
				</div>
				<span class="home-nav-menu" @click="showMenu()"></span>
			</header>
			<div class="face-main">
				<div class="banner"></div>
				<div class="ai-common-banner">
					<p class="banner-title">智能交互机器人</p>
					<p class="banner-description">
						提供多种场景下智能沟通互动的技术服务，系统将实时进行语义分析，了解客户意图，从知识库中生成最佳应答方式，跟客户进行沟通，减少人工服务成本。
					</p>
				</div>
				<div class="robot-product">
					<h3 class="title">产品功能</h3>
					<div class="content-wrapper">
						<img src="./image/procen-robfunpic01.png" alt="" class="img-icon" />
						<div class="content">
							<p class="text">索引检索</p>
							<p class="description">
								在传统搜索引擎技术的基础上，针对智能客服支持数据的特征，实现支持语义标签匹配的信息索引和检索功能。
							</p>
						</div>
					</div>
					<div class="content-wrapper">
						<img src="./image/procen-robfunpic02.png" alt="" class="img-icon" />
						<div class="content">
							<p class="text">句型识别</p>
							<p class="description">
								句型识别主要包括两大类问题：一是通用类型，包括列举性问题、事实性问题、解释性问题等；另一种类型是主题分类或者场景分类。
							</p>
						</div>
					</div>
					<div class="content-wrapper">
						<img src="./image/procen-robfunpic03.png" alt="" class="img-icon" />
						<div class="content">
							<p class="text">语义识别</p>
							<p class="description">
								语义蕴涵识别是自动问答的关键技术之一。系统提供面向中文数据的语义蕴涵识别功能，实现高效优质的问句匹配效果。
							</p>
						</div>
					</div>
					<div class="content-wrapper">
						<img src="./image/procen-robfunpic04.png" alt="" class="img-icon" />
						<div class="content">
							<p class="text">情感识别</p>
							<p class="description">
								系统通过提取对话的语义特征，基于字典和机器学习的方法，自动识别用户的情感，并结合用户的情感识别结果，改进问答效果。
							</p>
						</div>
					</div>
				</div>
				<div class="face-scene">
					<h3 class="title">推荐场景</h3>
					<div class="content-wrapper">
						<div class="content-bg" style="background-image: url(./image/procen-recsce08.png);">
						</div>
						<div class="content-cover"></div>
						<div class="content">
							<h4>【智能服务平台】</h4>
							<div class="description">
								<p>通过对常见问题及业务知识的整理，建立知识库，实现智能回复，可嵌入于政府网站、教育平台、医院机构等系统中服务于咨询用户或企业内部员工。</p>
							</div>
						</div>
					</div>
					<div class="content-wrapper">
						<div class="content-bg" style="background-image: url(./image/procen-recsce09.png);">
						</div>
						<div class="content-cover"></div>
						<div class="content">
							<h4>【会场智能机器人】</h4>
							<div class="description">
								<p>
									可以通过对话交互的方式向记者媒体提供会议议程安排、产品介绍、会场导引、会场网络使用介绍等会议相关内容。
								</p>
							</div>
						</div>
					</div>
					<div class="content-wrapper">
						<div class="content-bg" style="background-image: url(./image/procen-recsce10.png);">
						</div>
						<div class="content-cover"></div>
						<div class="content">
							<h4>【电话智能客服】</h4>
							<div class="description">
								<p>
									帮助人工客服过滤骚扰电话、简单重复性问题等，使得人工客服能更好地服务剩下的复杂问题，服务于银行、保险、证券、电子商务等。
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="robot-product-advantage">
					<h4>产品优势</h4>
					<div class="content-wrapper">
						<img src="./image/procen-robadvpic01.png" alt="" class="robot-img">
						<p class="title">粒度更灵活</p>
						<p class="description">
							模型既保证了基本词汇的原子性，又保证了大粒度词汇，对领域新词、专有名词的识别尤其有效。
						</p>
					</div>
					<div class="content-wrapper">
						<img src="./image/procen-robadvpic02.png" alt="" class="robot-img">
						<p class="title">海量数据建模</p>
						<p class="description">
							海量训练样本，提高了算法在复杂多变的应用场景下的效果稳定性和适配性。
						</p>
					</div>
					<div class="content-wrapper">
						<img src="./image/procen-robadvpic03.png" alt="" class="robot-img">
						<p class="title">自由定制</p>
						<p class="description">
							可根据需求自主干预和定制分词效果，自由定制场景术语，打造个性化的智能交互系统。
						</p>
					</div>
				</div>
			</div>
			<footer class="home-footer">
	<p class="telephone">客服电话&nbsp;&nbsp;400-0808-939</p>
	<p class="copyright">Copyright &copy; 畅云时讯 2019</p>
</footer>
			<transition enter-active-class="fade-in-active" leave-active-class="fade-out-active">
				<div v-show="menuExpand" class="menu-bg" v-cloak @click.stop="closeMenu()"></div>
			</transition>
			<transition name="slide-in">
				<ul v-show="menuExpand" class="menu-content" v-cloak>
					<li v-for="(item, index) in menuList" :key="item.title" class="level">
						<div class="title" :class="{'has-border': item.children.length > 0}"
							@click="handleExpand(1, index, 0, item)">
							<span v-cloak class="title-text">{{item.title}}</span>
							<template v-if="item.children.length > 0">
								<span v-if="item.expanded" class="title-icon">-</span>
								<span v-else="item.expanded" class="title-icon">+</span>
							</template>
						</div>
						<ul v-if="item.children.length > 0" class="sub-content" :class="{'active': item.expanded}">
							<li v-for="(subItem, subIndex) in item.children" :key="subItem.title" class="level">
								<div class="title" :class="{'has-border': subItem.children.length > 0}"
									@click="handleExpand(2, index, subIndex, subItem)">
									<span class="title-text">{{subItem.title}}</span>
									<template v-if="subItem.children.length > 0">
										<span v-if="subItem.expanded" class="title-icon">-</span>
										<span v-else="subItem.expanded" class="title-icon">+</span>
									</template>
								</div>
								<ul class="sub-level" :class="{'active': subItem.expanded}">
									<li v-for="(thirdItem, thirdIndex) in subItem.children" :key="thirdItem.title" class="title"
										@click="goRoute(thirdItem)">
										<span class="title-text">{{thirdItem.title}}</span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</transition>
		</div>
		<script>
			var app = new Vue({
				el: '#app',
				data: {
					menuExpand: false,
					menuList: [
						{
							title: '首页',
							level: 1,
							index: 0,
							expanded: false,
							url: '/',
							children: []
						}, {
							title: '产品中心',
							level: 1,
							index: 1,
							expanded: false,
							children: [
								{
									title: '人工智能产品',
									level: 2,
									index: 0,
									expanded: false,
									children: [
										{
											title: '人脸识别',
											url: 'face.html'
										}, {
											title: '图像文字识别',
											url: 'images.html'
										}, {
											title: '智能交互机器人',
											url: 'robot.html'
										}
									]
								}, {
									title: '通用产品',
									level: 2,
									index: 1,
									expanded: false,
									children: [
										{
											title: '竞争情报分析系统',
											url: 'infoanalysis.html'
										}, {
											title: 'OFD文档办公软件',
											url: 'ofd.html'
										}, {
											title: 'DIU文档智能利用平台',
											url: 'diu.html'
										}, {
											title: 'eSearch智能检索',
											url: 'eSearch.html'
										}
									]
								}
							]
						}, {
							title: '解决方案',
							level: 1,
							index: 2,
							expanded: false,
							children: [
								{
									title: '大数据解决方案',
									level: 2,
									index: 0,
									expanded: false,
									url: 'bigdata.html',
									children: []
								}, {
									title: '人工智能解决方案',
									level: 2,
									index: 1,
									expanded: false,
									url: 'ai.html',
									children: []
								}
							]
						}, {
							title: '联合实验室',
							level: 1,
							index: 3,
							expanded: false,
							url: 'lab.html',
							children: []
						}, {
							title: '新闻动态',
							level: 1,
							index: 4,
							expanded: false,
							url: '/4/index.html',
							children: []
						}, {
							title: '关于我们',
							level: 1,
							index: 5,
							expanded: false,
							children: [
								{
									title: '公司介绍',
									level: 2,
									index: 0,
									expanded: false,
									url: 'aboutus.html',
									children: []
								}, {
									title: '联系我们',
									level: 2,
									index: 1,
									expanded: false,
									url: 'contactus.html',
									children: []
								}, {
									title: '加入我们',
									level: 2,
									index: 2,
									expanded: false,
									url: 'joinus.html',
									children: []
								}
							]
						}
					]
				},
				methods: {
					showMenu() {
						this.menuExpand = !this.menuExpand
						document.documentElement.style.overflow = 'hidden'
						document.body.style.overflow = 'hidden'
						document.body.style.position = 'fixed'
					},
					closeMenu() {
						this.menuExpand = false
						document.documentElement.style.overflow = 'auto'
						document.body.style.overflow = 'auto'
						document.body.style.position = 'static'
					},
					handleExpand(level, index, subIndex, item) {
						if (level === 1 && item.children.length > 0) {
							this.handleTopLevel(index, item)
						} else if (level === 2 && item.children.length > 0) {
							this.handleSubLevel(index, subIndex, item)
						} else {
							this.goRoute(item)
						}
					},
					handleTopLevel(index, item) {
						if (!item.expanded) {
							this.foldTopLevel()
						}
						this.menuList[index].expanded = !this.menuList[index].expanded
						this.$set(this.menuList, index, this.menuList[index])
					},
					handleSubLevel(index, subIndex, item) {
						if (!item.expanded) {
							this.foldSubLevel(index)
						}
						this.menuList[index].children[subIndex].expanded = !this.menuList[index].children[subIndex].expanded
						this.$set(this.menuList[index], subIndex, this.menuList[index].children[subIndex])
					},
					goRoute(item) {
						window.location.href = '{ms:global.url/}' + item.url
					},
					foldTopLevel() {
						for (var m = 0; m < this.menuList.length; m++) {
							this.menuList[m].expanded = false
							for (var i = 0; i < this.menuList[m].children.length; i++) {
								this.menuList[m].children[i].expanded = false
								this.$set(this.menuList[m].children, i, this.menuList[m].children[i])
							}
							this.$set(this.menuList, m, this.menuList[m])
						}
					},
					foldSubLevel(index) {
						for (var n = 0; n < this.menuList[index].children.length; n++) {
							this.menuList[index].children[n].expanded = false
							this.$set(this.menuList[index].children, n, this.menuList[index].children[n])
						}
					}
				}
			})
		</script>
	</body>

</html>
